{% extends "base.html.twig" %}

{% block topo %}
    <div class="topo"><img src="{{ asset('img/logo.png') }}"></div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block title %}Cadastro de Usuarios{% endblock %}

{# Formulário de cadastro de usuario #}   
{% block body %}
    <form method="post" action="{{url('web_user_salvar')}}" accept-charset="UTF-8">
     
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome">
    
        <label for="bio">Email</label>
       <input type="email" name="email">
    
        <input type="submit" value="Save Profile">
    </form>
{% endblock %}